HolidayReservationSystemClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="PartnerInvalidPasswordException">
<part name="fault" element="tns:PartnerInvalidPasswordException"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="getTotalPrice">
<part name="parameters" element="tns:getTotalPrice"/>
</message>
<message name="getTotalPriceResponse">
<part name="parameters" element="tns:getTotalPriceResponse"/>
</message>
<message name="AvailableRoomNotFoundException">
<part name="fault" element="tns:AvailableRoomNotFoundException"/>
</message>
<message name="RoomRateNotFoundException">
<part name="fault" element="tns:RoomRateNotFoundException"/>
</message>
<message name="onlineReserve">
<part name="parameters" element="tns:onlineReserve"/>
</message>
<message name="onlineReserveResponse">
<part name="parameters" element="tns:onlineReserveResponse"/>
</message>
<message name="RoomTypeAddReservationException">
<part name="fault" element="tns:RoomTypeAddReservationException"/>
</message>
<message name="RoomRateAddReservationException">
<part name="fault" element="tns:RoomRateAddReservationException"/>
</message>
<message name="PartnerAddReservationException">
<part name="fault" element="tns:PartnerAddReservationException"/>
</message>
<message name="RoomAddReservationException">
<part name="fault" element="tns:RoomAddReservationException"/>
</message>
<message name="GuestNotFoundException">
<part name="fault" element="tns:GuestNotFoundException"/>
</message>
<message name="GuestAddReservationException">
<part name="fault" element="tns:GuestAddReservationException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="ReservationAddRoomException">
<part name="fault" element="tns:ReservationAddRoomException"/>
</message>
<message name="ReservationExceedAvailableRoomNumberException">
<part name="fault" element="tns:ReservationExceedAvailableRoomNumberException"/>
</message>
<message name="searchAvailableRoom">
<part name="parameters" element="tns:searchAvailableRoom"/>
</message>
<message name="searchAvailableRoomResponse">
<part name="parameters" element="tns:searchAvailableRoomResponse"/>
</message>
<message name="getAllRoomTypeNames">
<part name="parameters" element="tns:getAllRoomTypeNames"/>
</message>
<message name="getAllRoomTypeNamesResponse">
<part name="parameters" element="tns:getAllRoomTypeNamesResponse"/>
</message>
<message name="getReservationListByPartner">
<part name="parameters" element="tns:getReservationListByPartner"/>
</message>
<message name="getReservationListByPartnerResponse">
<part name="parameters" element="tns:getReservationListByPartnerResponse"/>
</message>
<message name="ReservationListForPartnerNotFoundException">
<part name="fault" element="tns:ReservationListForPartnerNotFoundException"/>
</message>
<message name="getReservationDetailByPartner">
<part name="parameters" element="tns:getReservationDetailByPartner"/>
</message>
<message name="getReservationDetailByPartnerResponse">
<part name="parameters" element="tns:getReservationDetailByPartnerResponse"/>
</message>
<message name="ReservationForPartnerNotFoundException">
<part name="fault" element="tns:ReservationForPartnerNotFoundException"/>
</message>
<portType name="PartnerWebService">
<operation name="partnerLogin">
<input wsam:Action="http://ws.session/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:PartnerInvalidPasswordException" name="PartnerInvalidPasswordException" wsam:Action="http://ws.session/PartnerWebService/partnerLogin/Fault/PartnerInvalidPasswordException"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session/PartnerWebService/partnerLogin/Fault/PartnerNotFoundException"/>
</operation>
<operation name="getTotalPrice">
<input wsam:Action="http://ws.session/PartnerWebService/getTotalPriceRequest" message="tns:getTotalPrice"/>
<output wsam:Action="http://ws.session/PartnerWebService/getTotalPriceResponse" message="tns:getTotalPriceResponse"/>
<fault message="tns:AvailableRoomNotFoundException" name="AvailableRoomNotFoundException" wsam:Action="http://ws.session/PartnerWebService/getTotalPrice/Fault/AvailableRoomNotFoundException"/>
<fault message="tns:RoomRateNotFoundException" name="RoomRateNotFoundException" wsam:Action="http://ws.session/PartnerWebService/getTotalPrice/Fault/RoomRateNotFoundException"/>
</operation>
<operation name="onlineReserve">
<input wsam:Action="http://ws.session/PartnerWebService/onlineReserveRequest" message="tns:onlineReserve"/>
<output wsam:Action="http://ws.session/PartnerWebService/onlineReserveResponse" message="tns:onlineReserveResponse"/>
<fault message="tns:RoomRateNotFoundException" name="RoomRateNotFoundException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/RoomRateNotFoundException"/>
<fault message="tns:RoomTypeAddReservationException" name="RoomTypeAddReservationException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/RoomTypeAddReservationException"/>
<fault message="tns:RoomRateAddReservationException" name="RoomRateAddReservationException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/RoomRateAddReservationException"/>
<fault message="tns:PartnerAddReservationException" name="PartnerAddReservationException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/PartnerAddReservationException"/>
<fault message="tns:RoomAddReservationException" name="RoomAddReservationException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/RoomAddReservationException"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/PartnerNotFoundException"/>
<fault message="tns:GuestNotFoundException" name="GuestNotFoundException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/GuestNotFoundException"/>
<fault message="tns:GuestAddReservationException" name="GuestAddReservationException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/GuestAddReservationException"/>
<fault message="tns:AvailableRoomNotFoundException" name="AvailableRoomNotFoundException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/AvailableRoomNotFoundException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/InputDataValidationException"/>
<fault message="tns:ReservationAddRoomException" name="ReservationAddRoomException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/ReservationAddRoomException"/>
<fault message="tns:ReservationExceedAvailableRoomNumberException" name="ReservationExceedAvailableRoomNumberException" wsam:Action="http://ws.session/PartnerWebService/onlineReserve/Fault/ReservationExceedAvailableRoomNumberException"/>
</operation>
<operation name="searchAvailableRoom">
<input wsam:Action="http://ws.session/PartnerWebService/searchAvailableRoomRequest" message="tns:searchAvailableRoom"/>
<output wsam:Action="http://ws.session/PartnerWebService/searchAvailableRoomResponse" message="tns:searchAvailableRoomResponse"/>
<fault message="tns:AvailableRoomNotFoundException" name="AvailableRoomNotFoundException" wsam:Action="http://ws.session/PartnerWebService/searchAvailableRoom/Fault/AvailableRoomNotFoundException"/>
</operation>
<operation name="getAllRoomTypeNames">
<input wsam:Action="http://ws.session/PartnerWebService/getAllRoomTypeNamesRequest" message="tns:getAllRoomTypeNames"/>
<output wsam:Action="http://ws.session/PartnerWebService/getAllRoomTypeNamesResponse" message="tns:getAllRoomTypeNamesResponse"/>
</operation>
<operation name="getReservationListByPartner">
<input wsam:Action="http://ws.session/PartnerWebService/getReservationListByPartnerRequest" message="tns:getReservationListByPartner"/>
<output wsam:Action="http://ws.session/PartnerWebService/getReservationListByPartnerResponse" message="tns:getReservationListByPartnerResponse"/>
<fault message="tns:ReservationListForPartnerNotFoundException" name="ReservationListForPartnerNotFoundException" wsam:Action="http://ws.session/PartnerWebService/getReservationListByPartner/Fault/ReservationListForPartnerNotFoundException"/>
</operation>
<operation name="getReservationDetailByPartner">
<input wsam:Action="http://ws.session/PartnerWebService/getReservationDetailByPartnerRequest" message="tns:getReservationDetailByPartner"/>
<output wsam:Action="http://ws.session/PartnerWebService/getReservationDetailByPartnerResponse" message="tns:getReservationDetailByPartnerResponse"/>
<fault message="tns:ReservationForPartnerNotFoundException" name="ReservationForPartnerNotFoundException" wsam:Action="http://ws.session/PartnerWebService/getReservationDetailByPartner/Fault/ReservationForPartnerNotFoundException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerInvalidPasswordException">
<soap:fault name="PartnerInvalidPasswordException" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getTotalPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AvailableRoomNotFoundException">
<soap:fault name="AvailableRoomNotFoundException" use="literal"/>
</fault>
<fault name="RoomRateNotFoundException">
<soap:fault name="RoomRateNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="onlineReserve">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomRateNotFoundException">
<soap:fault name="RoomRateNotFoundException" use="literal"/>
</fault>
<fault name="RoomTypeAddReservationException">
<soap:fault name="RoomTypeAddReservationException" use="literal"/>
</fault>
<fault name="RoomRateAddReservationException">
<soap:fault name="RoomRateAddReservationException" use="literal"/>
</fault>
<fault name="PartnerAddReservationException">
<soap:fault name="PartnerAddReservationException" use="literal"/>
</fault>
<fault name="RoomAddReservationException">
<soap:fault name="RoomAddReservationException" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
<fault name="GuestNotFoundException">
<soap:fault name="GuestNotFoundException" use="literal"/>
</fault>
<fault name="GuestAddReservationException">
<soap:fault name="GuestAddReservationException" use="literal"/>
</fault>
<fault name="AvailableRoomNotFoundException">
<soap:fault name="AvailableRoomNotFoundException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="ReservationAddRoomException">
<soap:fault name="ReservationAddRoomException" use="literal"/>
</fault>
<fault name="ReservationExceedAvailableRoomNumberException">
<soap:fault name="ReservationExceedAvailableRoomNumberException" use="literal"/>
</fault>
</operation>
<operation name="searchAvailableRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AvailableRoomNotFoundException">
<soap:fault name="AvailableRoomNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getAllRoomTypeNames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReservationListByPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationListForPartnerNotFoundException">
<soap:fault name="ReservationListForPartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getReservationDetailByPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationForPartnerNotFoundException">
<soap:fault name="ReservationForPartnerNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>